boot/consensus/beacondata
boot/consensus/genesis.ssz
boot/consensus/validatordata
boot/execution/geth
boot/execution/geth.ipc

follow/consensus/beacondata
follow/consensus/genesis.ssz
follow/consensus/validatordata
follow/execution/geth
follow/execution/geth.ipc

.idea/
